{{#each categories}}
  <div class="column is-3">
      <div class="card">
          <header class="card-header">
              <p class="card-header-title is-size-4 is-centered">{{title}}</p>
          </header>
          <div class="card-image">
            <figure class="image is-square is-480by480">
              <img id="category-image-{{_id}}" src={{img}}>
            </figure>
          </div>
          <div class="card-content">  
            <form action="/dashboard/uploadimage/{{_id}}" method="POST" enctype="multipart/form-data">
              <div id="card{{_id}}-fileselect" class="file has-name is-fullwidth">
                <label class="file-label"> <input id="file-input-{{_id}}" class="file-input" name="imagefile" type="file" name="resume" accept="image/png, image/jpeg">
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                      Choose a file…
                    </span>
                  </span>
                  <span id="file-name-{{_id}}" class="file-name"></span>
                </label>
                <button type="submit" class="button is-info">Upload</button>
              </div>
            </form>
          </div>
          <footer class="card-footer">
            <a href="/category/{{_id}}" class="card-footer-item button is-primary is-outlined">
              <span class="icon is-small">
                <i class="fas fa-folder-open"></i>
              </span>
            </a>
            <a href="/dashboard/deletecategory/{{_id}}" class="card-footer-item button is-danger is-outlined">
              <span class="icon is-small is-danger">
                <i class="fas fa-trash"></i>
              </span>
            </a>
          </footer>
      </div>
  </div>

  <script>
    result = document.getElementById("category-image-{{_id}}").getAttribute('src') === '';
    if (result === false) {
      delete_icon_html = '<a href="/dashboard/deleteimage/{{_id}}" class="button is-danger is-outlined"><i class="fas fa-trash"></i></a>';
      document.getElementById("card{{_id}}-fileselect").innerHTML += delete_icon_html;
    }
  </script>
{{/each}}
