<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Placemark</th>
      <th>Description</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each category.placemarks}}
      <tr>
        <td>
          {{name}}
        </td>
        <td>
          {{description}}
        </td>
        <td>
          {{latitude}}
        </td>
        <td>
          {{longitude}}
        </td>
        <td>
          <a href="/category/{{../category._id}}/deleteplacemark/{{_id}}" class="ui icon button is-danger is-outlined">
            <i class="fas fa-trash"></i>
          </a>
        </td>
        <td>
          <button class="js-modal-trigger ui icon button is-info is-outlined" data-target="modal-placemark-weather">
            <i class="fas fa-cloud-sun"></i>
          </button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<div id="modal-placemark-weather" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Modal title</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <p>tesing</p>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-info">Close</button>
    </footer>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    // Functions to open and close a modal
    function openModal($el) {
      $el.classList.add('is-active');
    }

    function closeModal($el) {
      $el.classList.remove('is-active');
    }

    function closeAllModals() {
      (document.querySelectorAll('.modal') || []).forEach(($modal) => {
        closeModal($modal);
      });
    }

    // Add a click event on buttons to open a specific modal
    (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
      const modal = $trigger.dataset.target;
      const $target = document.getElementById(modal);

      $trigger.addEventListener('click', () => {
        openModal($target);
      });
    });

    // Add a click event on various child elements to close the parent modal
    (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
      const $target = $close.closest('.modal');

      $close.addEventListener('click', () => {
        closeModal($target);
      });
    });

    // Add a keyboard event to close all modals
    document.addEventListener('keydown', (event) => {
      if(event.key === "Escape") {
        closeAllModals();
      }
    });
  });
</script>