{{#each category.placemarks}}
    <div class="column is-3">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title is-size-4 is-centered">{{name}}</p>
            </header>
            <div class="card-image">
            <figure class="image is-square is-480by480">
                <img id="placemark-image-{{_id}}" src={{img}}>
            </figure>
            </div>
            <div class="card-content">  
            <form action="/category/{{../category._id}}/uploadimage/{{_id}}" method="POST" enctype="multipart/form-data">
                <div id="card{{_id}}-fileselect" class="file has-name is-fullwidth">
                <label class="file-label"> <input id="file-input-{{_id}}" class="file-input" name="imagefile" type="file" name="resume" accept="image/png, image/jpeg">
                    <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                        Choose a file…
                    </span>
                    </span>
                    <span id="file-name-{{_id}}" class="file-name"></span>
                </label>
                <button type="submit" class="button is-info">Upload</button>
                </div>
            </form>
            </div>
            <table class="table is-fullwidth">
                <tbody>
                    <tr>
                        <th>Placemark</th>
                        <td>{{name}}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{description}}</td>
                    </tr>
                    <tr>
                        <th>Latitude</th>
                        <td>{{latitude}}</td>
                    </tr>
                    <tr>
                        <th>Longitude</th>
                        <td>{{longitude}}</td>
                    </tr>
                    <tr>
                        <th>Forecast</th>
                        <td>
                            <button class="js-modal-trigger ui icon button is-info is-outlined" data-target="modal-placemark-weather">
                                <i class="fas fa-cloud-sun"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <footer class="card-footer">
                <a href="/category/{{../category._id}}/deleteplacemark/{{_id}}" class="card-footer-item button is-danger is-outlined">
                    <span class="icon is-small is-danger">
                        <i class="fas fa-trash"></i>
                    </span>
                </a>
            </footer>
        </div>
    </div>

    <div id="modal-placemark-weather" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head has-text-centered">
            <p class="modal-card-title">Forecast</p>
            <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <table>
                        <tbody>
                            <tr>
                                <td>
                                    <span class="icon is-large">
                                        <img src='https://openweathermap.org/img/wn/02d@2x.png'></img>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>23℃</td>
                            </tr>
                        </tbody>
                    </table>
            </section>
            <footer class="modal-card-foot">
            <button class="button is-info">Close</button>
            </footer>
        </div>
    </div>

    <script>
        result = document.getElementById("placemark-image-{{_id}}").getAttribute('src') === '';
        if (result === false) {
            delete_icon_html = '<a href="/category/{{../category._id}}/deleteimage/{{_id}}" class="button is-danger is-outlined"><i class="fas fa-trash"></i></a>';
            document.getElementById("card{{_id}}-fileselect").innerHTML += delete_icon_html;
        }
    </script>
{{/each}}

<script>
  document.addEventListener('DOMContentLoaded', () => {
    // Functions to open and close a modal
    function openModal($el) {
      $el.classList.add('is-active');
    }

    function closeModal($el) {
      $el.classList.remove('is-active');
    }

    function closeAllModals() {
      (document.querySelectorAll('.modal') || []).forEach(($modal) => {
        closeModal($modal);
      });
    }

    // Add a click event on buttons to open a specific modal
    (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
      const modal = $trigger.dataset.target;
      const $target = document.getElementById(modal);

      $trigger.addEventListener('click', () => {
        openModal($target);
      });
    });

    // Add a click event on various child elements to close the parent modal
    (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
      const $target = $close.closest('.modal');

      $close.addEventListener('click', () => {
        closeModal($target);
      });
    });

    // Add a keyboard event to close all modals
    document.addEventListener('keydown', (event) => {
      if(event.key === "Escape") {
        closeAllModals();
      }
    });
  });
</script>